.resa-dot{
    font-family: fontdot;
    font-size:30px
}
.resa-dot-2{
    font-family: fontdot;
    font-size:20px;
    padding: 3px;
    background-color:#E56F0E;
    color : white
}
.navbutton:hover{
    transform: scale(1.2,1.2);
    
}