.card-title{
    font-family: fontdot;
    font-size: 30px;
    background-color: #E56F0E;
    padding: 4px;
    border-radius: 5px;
    color: white;
}
.price-text{
    font-family: fontdot;
    animation :  blinkscreen infinite 0.7s ;
    

}

@keyframes blinkscreen {
    0% {transform : scale(1,1);}
    50%{transform : scale(1.1,1.1) translate(0,1%)}
    100%{transform : scale(1,1);}
    
    
}

.text-list{
    color:#E56F0E
}

.fakeButton  :hover{
    background-color : #090909 !important;
    color : #E56F0E;
    animation: 300ms;
    transform : scale(1.2,1.2);
    cursor: pointer;
}
