.title-anim{
    font-family: fontdot;
    animation :  titleanim infinite 0.7s ;
}
    

.bandeau{
    animation: bandeauAnim infinite 11s;
}
.cadre{
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(91, 91, 91, 0.655);
    padding: auto;
}

@keyframes bandeauAnim{
    0% {transform : translate(-5%);}
    50%{transform : translate(-33%) scale(1.08,1.08)}
    100%{transform : translate(-5%);}

}
@keyframes titleanim {
    0% {transform : scale(1,1);}
    50%{transform : scale(1.05,1.05) translate(-0,2%) 
        }
    100%{transform : scale(1,1) translate(0,2%);}
    
    
}