

nav {
    height: 50px;
}
.liste{
    
    list-style-type: none;
    background: #1C1109;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: aliceblue;
    font-family: fontdot;
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  
}


.items{
    text-decoration: none;
    color : white;
    margin-right: 2rem;
    cursor: pointer;
    
}
.items:hover{
    color:#E56F0E;
    transform: scale(1.1 ,1.1);
    transition: 0.3s;
}
.menuBurger{
    display: none;
}

@media screen  and (max-width:768px){
    .liste {
        flex-direction: column;
        height: 200px;
        width: 100%;
        margin-top: 0;
        padding-top: 0;
    }
    .items { 
    height: 30px;
    width: 100%;
    line-height:30px ;
    border-bottom: 1px solid white;
    }

    .menuBurger{
        display: block;
        position : absolute;
        right: 10px;
        top: 10px;
        border: none;
        background-color: white;
        color: #E56F0E;
        text-shadow: 2px,2px,1px,black;
    }
    
}