@font-face{
    font-family:"fontdot";
    src:local("fontdot"),
    url("./fonts/fontdot.ttf")
}
.font-face{
    font-family: "fontdot" ;
}

body{
    background-image: url(.././public/assets/images/fond.jpg);
    background-position: fixed;
    background-size:auto;
}